body,
html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-image: url("https: //images.unsplash.com/photo-1468476396571-4d6f2a427ee7?ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80");
}

#Header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 180px;
    text-align: center;
    padding: 15px 0;

}

#All {
    background-image: url("https://images.unsplash.com/photo-1534095250017-417f574f313e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80");
    background-size: auto;
}

#Contents {
    display: inline-block;
    margin: 180px 0px 50px;
    /*上 左右 下*/
    width: 80%;
    padding: 20px 40px;
    font-family: Microsoft JhengHei, serif, sans-serif, cursive, fantasy, monospace;
}

#Sidebar {
    display: inline-block;
    position: absolute;
    top: 180px;
    bottom: 50px;
    right: 0px;
    width: 20%;
    height: auto;
    padding: 25px 0px;
    background-color: #f3f3f3;
    text-align: left;
    font-family: Microsoft JhengHei, serif, sans-serif, cursive, fantasy, monospace;
    font-size: 20px;
}

form {
    max-width: 90%;
    margin: 24px 0;
    padding: 0 40px;
}

form .error label {
    color: #e66;
}

form .error input,
form .error textarea {
    background-color: #fee;
    border-color: #e99;
}

.form-group {
    font-style: italic;
    color: beige;
    font-size: 25px;
}